<label class="form-label">{{entity.title}}</label>

<input class="form-check-input" type="checkbox" />

<div class="card mt-3">
  <div class="card-body">
    <label class="form-label">{{entity.title}}</label>

    <div class="d-flex justify-content-between align-items-center">
      <label for="{{entity.title}}" class="btn btn-danger btn-sm">✕</label>
      <h2 class="card-title">{{entity.title}}</h2>
    </div>

    <section class="mt-3">
      <img *ngIf="entity.image" [src]="entity.image.thumbnail" class="img-fluid rounded">

      <div *ngIf="entity.abstract" class="mt-3">
        <label class="form-label">Abstract</label>
        <h2 class="card-text">{{entity.abstract}}</h2>
      </div>
    </section>

    <!-- Display Categories with *ngFor -->
    <section *ngIf="entity.categories" class="mt-3">
      <label class="form-label">Categories</label>
      <div class="d-flex gap-2 flex-wrap">
        <span *ngFor="let category of entity.categories" class="badge bg-primary">{{category}}</span>
      </div>
    </section>
  </div>
</div>
